{% extends 'registration/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
{{block.super}}
<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="login">
            <div class="log-form">
                <h1>Login Here</h1>
                <form action="" method="POST" class="form-group">
                    {% csrf_token %}
                    <label for="username">Username: </label>
                    <br>
                    <input type="text" name="username" placeholder="Enter Username" class="form-control">
                    <br>
                    <label for="password">Password: </label>
                    <br>
                    <input type="password" name="password" placeholder="Enter Password" class="form-control">
                    <br>
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}

                    <input type="submit" value="LOGIN" class="btn btn-block btn-info">
                </form>
                <p>No account? Register here: <a href="{% url 'register-User' %}">Create New Account</a></p>


            </div>

        </div>

    </div>
    <div class="col-md-3"></div>
</div>




{% endblock %}