{% extends 'registration/base.html' %}

{% block content %}
{{block.super}}

<h1>Login</h1>
<form action="" method="POST">
    {% csrf_token %}
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="Enter Username"> 
    <br>
    <label for ="password">Password: </label>
    <input type="password" name="password" placeholder="Enter Password"> 
    <br>

    <input type="submit" value="Login"> 
</form>
<p>Have an account? If not register here <a href="{% url 'register-User' %}">Create New Account</a></p>

{% endblock %}