/* add google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Source+Sans+Pro&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    /* font style */
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    
}

/* login form */

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    
}

.log-form{
    background-color: lightgray;
    max-height: 100%;
    padding: 2.5em;
    border-radius: 5px;

}

#login p{
    font-size: small;
}

#login p a{
    font-size: small;
}

#login input{
    border-radius: 5px;
}

#login .btn{
    padding: 1em 0;
    font-size: 1rem;
    margin-top: 1.5em;
}

/* registration form */
#register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;   
}

.reg-form{
    background-color: lightgray;
    max-height: 100%;
    padding: 2.5em 4em;
    border-radius: 5px;

}

#register p{
    font-size: small;
}

#register p a{
    font-size: small;
}

#register input{
    border-radius: 5px;
}

#register .btn{
    padding: 1em 0;
    font-size: 1.5rem;
    margin-top: 1.5em;
}
/* style the homepage */
.homepage-body{
    background-color: lightgray;
}

.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; 
}

.homepage h2{
    font-size: 3rem;
    font-weight: bold;
}

.homepage a button{
    padding: 1em;
    font-size: 1.5rem;
    margin-top: 1.5em;
}
